/* src/components/HomePage.css */

.homepage{
  display: block;
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 2%;
}
  .input-group-custom {
    display: flex;
    width: 100%;
  }
  
  .form-select-custom {
    flex: 1 1 10%; /* Allocate 10% of the width */
    margin-right: 0.5rem; /* Optional: add some space between the select and input */
    padding: 0 1rem 0 1rem ;
}
  
  .form-control-custom {
    flex: 1 1 90%; /* Allocate the remaining width */
  }


  /* HomePage.css */
.navbar-collapse.collapse {
    flex-grow: 1;
  }
  
  .navbar-nav.mx-auto {
    flex-grow: 1;
    justify-content: center;
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1.5rem;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-img-top {
    width: 100%;
    height: 15vw; /* Adjust as necessary */
    object-fit: cover;
  }
  
  .card-body {
    padding: .5rem !important;
  }
  
  .card-title {
    margin-bottom: 1.5rem;

  }
  
  .card-text:last-child {
    margin-bottom: 0;
    margin-top: 1rem;
  }
  
  .card-img-top-container {
    position: relative;
    z-index: 1;
  }
  
  .like-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; /* Ensure the button is above the slider images */
  }
  .homepage {
    padding: 20px;
  }
  
  .card-img-top-container {
    position: relative;
  }
  
  .like-button {
    background: transparent;
    border: none;
    font-size: 1.5em;
    color: #ff0000;
  }
  
  .slick-slide img {
    width: 100%;
    height: auto;
  }
  
  .card {
    border: none;
    overflow: hidden;
    padding: 0.5rem;
  }
  
  .card-title a {
    text-decoration: none;
    color: #000;
  }
  
  .card-title a:hover {
    text-decoration: underline;
  }
  
  .card-body {
    text-align: center;
  }
 
  
/* Add these styles to your HomePage.css file */
.card-img-top-container {
  position: relative;
  overflow: hidden;
}

.card-img-top-container img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the container */
}

@media (min-width: 768px) {
  .card-img-top-container {
    height: 250px; /* Set a fixed height for the container on desktop */
  }
  .homepage {
    padding: 5rem;
  }
}

  
  /* Add more styles as needed */
  
  
  /* Example media query to adjust layout on smaller screens */
  
  