/* Footer.css */
.footer {
  background-color: #343a40;
  color: #fff;
  padding-top: 30px;
  animation: fadeIn 1s ease-in-out;
  z-index: 1;
}

.footer h5 {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.footer p,
.footer ul,
.footer a {
  font-size: 1rem;
  color: #adb5bd;
}

.footer a {
  text-decoration: none; /* Remove underline */
}

.footer a:hover {
  color: #ffffff;
  text-decoration: underline;
  
  
  transition: color 0.5s ease;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer .text-center {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-top: 20px;
}

.footer .text-center a {
  color: #ffc107; /* Change text color */
}

.footer .text-center a:hover {
  color: #fff; /* Change hover color */
  text-decoration: underline; /* Add underline on hover */
  transition: color 0.3s ease; /* Smooth color transition */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
