/* ResetPassword.css */

.reset-password-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-password-container h2 {
  margin-bottom: 20px;
}

.reset-password-container label {
  display: block;
  margin-bottom: 10px;
}

.reset-password-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  color: black;
}
.reset-password-container .checkbox{
  width: auto;
  background-color: white !important;
  display: inline-block;
  margin-left: 2%;
}
.reset-password-container .error {
  color: red;
  margin-bottom: 10px;
}

.reset-password-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-password-container button:hover {
  background-color: #0056b3;
}
